.sides{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.sidebar__icons{
  color: #606060;
  font-size: large !important;
}
.sidebar__title{
  flex: 1;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
}
.sides:hover{
  background-color: lightgray;
  cursor: pointer;
}
.sides:hover > .sidebar__icons{
  color: red;
}
.sides:hover > .sidebar__title{
  font-weight:bold ;
}
.sides.selected {
  background-color: lightgray;
}