.videocard{
  margin-bottom: 40px;
  width: 270px;
}

.videocard__thumbnail{
  height: 60%;
  width: 250px;
}
.video__info{
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
}
.videotext{
  margin-left: 15px;
}
.videotext > h4{
  font-size: 15px;
  margin-bottom: 5px;
}
.videotext > p{
  font-size: 14px;
  color: gray;
}
.video__avatar{
  width: 30px !important;
  height: 30px !important;
} 